{% extends 'base.html.twig' %}

{% block title %}Campaign{% endblock %}

{% block body %}
    <h1>Campaign</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ campaign.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ campaign.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ campaign.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_campaign_index') }}">back to list</a>

    <a href="{{ path('app_campaign_edit', {'id': campaign.id}) }}">edit</a>

    {{ include('campaign/_delete_form.html.twig') }}
{% endblock %}
